#startbutton:hover {
    background-color: lightskyblue;
}

#startbutton {
    background-color: white;
    border-radius: 10px;
    border: 4px solid black;
    height: 40px;
    width: 140px;
    margin-left: 130px;
    margin-bottom: 20px;
}

.camera {
    margin: 0 auto;
    width: 400px;
}

#video{
    margin-left: 40px;
}

h1 {
    align-content: center;
}